.footer {
  background-color: var(--second-color);
  box-shadow: var(--box-shadow-plus);
  width: 100%;
  color: var(--main-color);
}
.footerTitle {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
}
.footerLink {
  color: var(--main-color) !important;
  text-decoration: none;
  padding: 2px 25px;
  cursor: pointer;
  font-size: 15px;
  transition: var(--main-transtion);
}
.footerLink:hover {
  background-color: var(--second-color-plus);
  border-radius: var(--border-radios);
}
.footerLinkIcon {
  margin-bottom: 4px;
}
.footer-copyright {
  font-size: 14px;
  background-color: var(--second-color-plus);
  text-align: center;
  padding: 5px 0;
  color: var(--text-gray) !important;
}
