@import "./variables.css";
* {
  font-family: "Roboto", sans-serif;
}
::selection {
  color: var(--text-gray);
  background: var(--second-color-plus);
}
::-moz-selection { /* Code for Firefox */
  color: var(--text-gray);
  background: var(--second-color-plus);
}
.titleFont {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
}
body {
  background-color: var(--body-back);
}
button:not(button[aria-label~="Slide"],button[type="submit"],button.minus,button.plus,button.add-to-cart,button.userDropdownIcon),.page-link{
  font-size: 15px !important;
  padding: 4px 8px !important;
  display: flex;
  align-self: center;
}
@media (max-width: 640px) {
  button:not(button[aria-label~="Slide"],button.minus,button.plus,button.add-to-cart,button.userDropdownIcon),.page-link {
    font-size: 14px !important;
    padding: 4px 8px !important;
    display: flex;
    align-self: center;
  }
  .hover {
    font-size: 14px;
  }
}
.cardsContainer {
  display: grid;
  column-gap: 13px;
  row-gap: 13px;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  margin-bottom: 60px;
  margin-top: 15px;
}
.alert-added {
  background-color: var(--second-color);
  color: var(--main-color);
  display: flex;
  gap: 4px;
  align-items: center;
}
.alert-added svg, .commentAlertdone svg {
  background-color: var(--for-color);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin-bottom: 1px;
  color: var(--text);
}
.alert-unSend {
  background-color: var(--second-color-plus);
  color: var(--main-color);
}
.alert-unSend-home {
  background-color: var(--second-color-plus);
  color: var(--main-color);
}
.alert-unSend svg, .alert-unSend-home svg {
  border-radius: 50%;
  color: var(--therd-gray);
  font-size: 18px;
  width: 16px;
  height: 16px;
  margin-bottom: 1px;
  border: 2px solid;
}
.commentAlert {
  background-color: var(--second-color-plus);
}
.commentAlertdone {
  background-color: var(--second-color);
  color: var(--main-color);
}
.alert-added, .alert-unSend-home, .alert-unSend {
  border: none!important;
  border-radius: 4px;
  opacity: 0;
  height: 0;
  padding: 4px;
  margin: 3px;
  font-size: 14px;
  overflow: hidden;
  transition: var(--main-transtion);
}
.alert-added svg{
  vertical-align: top;
}
.alert-unSend-home svg, .alert-unSend svg{
  vertical-align: text-bottom;
}
.commentAlertdone svg {
  vertical-align: middle;
}
.commentAlert, .commentAlertdone{
  font-size: 15px;
  margin-top: 65px;
  border:none;
  text-align: center;
}
@media (max-width: 640px) {
  .alert-added, .alert-unSend, .alert-unSend-home, .commentAlert, .commentAlertdone{
    font-size: 14px;
  }
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
  font-size: 15px;
}
.MuiFormControlLabel-root {
  margin: 0 !important;
}
.starIcon {
  color: var(--star-color);
}
